.Img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    justify-self: flex-end;
}

.Ul {
    position: absolute;
    left: 50%;
    width: 40%;
    overflow: auto;
    max-height: 10rem;
    flex-direction: column;
    background-color: white;
}
.Li {
    align-items: center;
    justify-content: space-between;
}

.Li:nth-of-type(odd) {
    background-color: lightgray;
}

.Li:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}